* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #161b22;
    color: #fff;
}

main {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #0d1117;
    border: 1px solid #21262d;
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #0366d6;
}

.form-label {
    font-weight: 500;
    color: blanchedalmond;
}

input[type="text"],
input[type="file"],
button {
    background-color: #21262d;
    border: 1px solid #30363d;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
    color: blanchedalmond;
}

input[type="text"]:focus,
input[type="file"]:focus,
button:focus {
    outline: none;
    border-color: #0366d6;
}

button {
    background-color: #0366d6;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"]::file-selector-button {
    background-color: #0366d6 !important;
    color: white;
}